.App {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.friends-list-friends {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-around;
}

.friend-card {
  border: 1px solid black;
  width: 100%;
  max-width: 200px;
  padding: 20px;
  margin-bottom: 30px;
}